*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    
}

nav {
    background-color: #c67a00;
    overflow: hidden;
    border-radius: 50px 10px;
    text-align: center;
    height: 25px;
}

 
nav a {
 
     
    color: white;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}



nav a:hover {
    background-color: #555;
    color: #fff;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.service,
.class-schedule {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #c67a00;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}
footer{
    background-color: #c67a00;
    height: 30px;
    text-align: center;
    border-radius: 50px 10px;
 
}
img[src="images/1-removebg-preview0010.png"]{
    height: 200px;
    width: 200px;
}
p[class="important"] {
color: white;
font-family: d;
}
 

